<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/mabassra/OneDrive - DP World/Documents/Projects/untitled/src/main/java/TestNGFramework/NewTest.java">
        <classes>
            <class name="TestNGFramework.NewTest">
                <methods>
                    <include name="firstTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>